.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"NIOBOM+URWPalladioL-Bold";
	src:url("c7c24abd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2.065592em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.236em;
}
.stl_09 {
	letter-spacing: 0em;
}

.stl_ie .stl_09 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"QKTHVT+URWPalladioL-Roma";
	src:url("a8bba041-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.830217em;
	font-family: "QKTHVT+URWPalladioL-Roma", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1.226em;
}
.stl_12 {
	font-size: 0.830217em;
	font-family: "QKTHVT+URWPalladioL-Roma", "Times New Roman";
	color: #00008B;
}
@font-face {
	font-family:"HLBPKC+FontAwesome5Free-Solid";
	src:url("5b5216c8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.830217em;
	font-family: "HLBPKC+FontAwesome5Free-Solid", "Times New Roman";
	color: #000000;
}
.stl_14 {
	line-height: 1.003em;
}
.stl_15 {
	letter-spacing: -0.092em;
}

.stl_ie .stl_15 {
	letter-spacing: -1.2221px;
}
@font-face {
	font-family:"WCPNUK+FontAwesome5Brands-Regular";
	src:url("935ecbde-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.974483em;
	font-family: "WCPNUK+FontAwesome5Brands-Regular", "Times New Roman";
	color: #000000;
}
.stl_17 {
	line-height: 1.007em;
}
.stl_18 {
	font-size: 0.996267em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #000000;
}
.stl_19 {
	letter-spacing: 0.05em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.7965px;
}
.stl_20 {
	font-size: 0.797008em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #000000;
}
.stl_21 {
	letter-spacing: 0.062em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.7906px;
}
.stl_22 {
	letter-spacing: -0.03em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.3826px;
}
@font-face {
	font-family:"IRMPRP+LMMathSymbols6-Regular";
	src:url("41bf71a8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.498133em;
	font-family: "IRMPRP+LMMathSymbols6-Regular", "Times New Roman";
	color: #000000;
}
.stl_24 {
	line-height: 1.734em;
}
.stl_25 {
	font-size: 0.909092em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"VWGRFO+URWPalladioL-Ital";
	src:url("da079d1c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.7472em;
	font-family: "VWGRFO+URWPalladioL-Ital", "Times New Roman";
	color: #000000;
}
.stl_27 {
	line-height: 1.246em;
}
.stl_28 {
	font-size: 0.7472em;
	font-family: "QKTHVT+URWPalladioL-Roma", "Times New Roman";
	color: #000000;
}
.stl_29 {
	letter-spacing: -0.111em;
}

.stl_ie .stl_29 {
	letter-spacing: -1.6145px;
}
.stl_30 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0067px;
}
.stl_31 {
	font-size: 0.909092em;
	font-family: "QKTHVT+URWPalladioL-Roma", "Times New Roman";
	color: #000000;
}
.stl_32 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0154px;
}
.stl_33 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0041px;
}
.stl_34 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0052px;
}
.stl_35 {
	letter-spacing: 0.0617em;
}

.stl_ie .stl_35 {
	letter-spacing: 0.7864px;
}
.stl_36 {
	letter-spacing: 0.0501em;
}

.stl_ie .stl_36 {
	letter-spacing: 0.7978px;
}
.stl_37 {
	letter-spacing: 0.0618em;
}

.stl_ie .stl_37 {
	letter-spacing: 0.7874px;
}
.stl_38 {
	font-size: 0.909092em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #00008B;
}
.stl_39 {
	letter-spacing: -0.0062em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0897px;
}
.stl_40 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.0307px;
}
.stl_41 {
	font-size: 0.7472em;
	font-family: "WCPNUK+FontAwesome5Brands-Regular", "Times New Roman";
	color: #00008B;
}
.stl_42 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_42 {
	letter-spacing: 0.0007px;
}
.stl_43 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.0179px;
}
.stl_44 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_44 {
	letter-spacing: -0.0006px;
}
.stl_45 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_45 {
	letter-spacing: -0.0359px;
}
.stl_46 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_46 {
	letter-spacing: -0.0262px;
}
.stl_47 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_47 {
	letter-spacing: -0.015px;
}
.stl_48 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.0582px;
}
.stl_49 {
	letter-spacing: -0.0014em;
}

.stl_ie .stl_49 {
	letter-spacing: -0.0203px;
}
.stl_50 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_50 {
	letter-spacing: -0.025px;
}
.stl_51 {
	letter-spacing: -0.0005em;
}

.stl_ie .stl_51 {
	letter-spacing: -0.0073px;
}
.stl_52 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_52 {
	letter-spacing: -0.0326px;
}
.stl_53 {
	letter-spacing: -0.0048em;
}

.stl_ie .stl_53 {
	letter-spacing: -0.0692px;
}
.stl_54 {
	letter-spacing: 0.0528em;
}

.stl_ie .stl_54 {
	letter-spacing: 0.6733px;
}
.stl_55 {
	font-size: 0.664175em;
	font-family: "QKTHVT+URWPalladioL-Roma", "Times New Roman";
	color: #00008B;
}
.stl_56 {
	font-size: 0.531342em;
	font-family: "QKTHVT+URWPalladioL-Roma", "Times New Roman";
	color: #00008B;
}
.stl_57 {
	letter-spacing: 0.0616em;
}

.stl_ie .stl_57 {
	letter-spacing: 0.5238px;
}
.stl_58 {
	letter-spacing: 0.0227em;
}

.stl_ie .stl_58 {
	letter-spacing: 0.2408px;
}
.stl_59 {
	letter-spacing: 0.0306em;
}

.stl_ie .stl_59 {
	letter-spacing: 0.2597px;
}
.stl_60 {
	font-size: 0.830217em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #000000;
}
.stl_61 {
	font-size: 0.830217em;
	font-family: "NIOBOM+URWPalladioL-Bold", "Times New Roman";
	color: #00008B;
}
.stl_62 {
	font-size: 0.830217em;
	font-family: "VWGRFO+URWPalladioL-Ital", "Times New Roman";
	color: #000000;
}
.stl_63 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_63 {
	letter-spacing: -0.0364px;
}
.stl_64 {
	letter-spacing: -0.129em;
}

.stl_ie .stl_64 {
	letter-spacing: -1.7136px;
}
.stl_65 {
	letter-spacing: -0.09em;
}

.stl_ie .stl_65 {
	letter-spacing: -1.1955px;
}
.stl_66 {
	letter-spacing: -0.0164em;
}

.stl_ie .stl_66 {
	letter-spacing: -0.2184px;
}
.stl_67 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_67 {
	letter-spacing: -0.0307px;
}
@font-face {
	font-family:"QWAOLV+LMMathSymbols7-Regular";
	src:url("920444c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_68 {
	font-size: 0.69738em;
	font-family: "QWAOLV+LMMathSymbols7-Regular", "Times New Roman";
	color: #000000;
}
.stl_69 {
	line-height: 1.733em;
}
.stl_70 {
	letter-spacing: 0.0717em;
}

.stl_ie .stl_70 {
	letter-spacing: 0.6671px;
}
.stl_71 {
	letter-spacing: -0.0213em;
}

.stl_ie .stl_71 {
	letter-spacing: -0.2834px;
}
.stl_72 {
	letter-spacing: -0.0087em;
}

.stl_ie .stl_72 {
	letter-spacing: -0.1161px;
}
.stl_73 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_73 {
	letter-spacing: -0.0756px;
}
.stl_74 {
	letter-spacing: 0.1423em;
}

.stl_ie .stl_74 {
	letter-spacing: 1.8896px;
}
.stl_75 {
	letter-spacing: -0.0046em;
}

.stl_ie .stl_75 {
	letter-spacing: -0.0614px;
}
.stl_76 {
	letter-spacing: -0.031em;
}

.stl_ie .stl_76 {
	letter-spacing: -0.4949px;
}
.stl_77 {
	letter-spacing: 0.0395em;
}

.stl_ie .stl_77 {
	letter-spacing: 0.5037px;
}
.stl_78 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_78 {
	letter-spacing: -0.0911px;
}
.stl_79 {
	font-size: 0.7472em;
	font-family: "HLBPKC+FontAwesome5Free-Solid", "Times New Roman";
	color: #00008B;
}
